{% extends "base.html" %}
{% set title="Add class" %}
{% block contents %}
<h1>Add class</h1>
{% if failed %}<h3>Class name is not unique</h3>{% endif %}
<form method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <input type="submit" value="Submit">
</form>
<a href="{{ url_for('classes') }}">classes</a>
{% endblock %}