{% extends "base.html" %}
{% set title="Cancel assignment" %}
{% block contents %}
<h1>Do you want to cancel the assignment from class {{ classname }}?</h1>
<h2><span>{{ assignment[0] }}</span> <span>{{ assignment[1] }}</span> <span class="wordlistname">{{ assignment[2] }}</span></h2>
<a href="{{ url_for('cancel_assignment_confirm', classname=classname, assignment_id=assignment_id) }}" style="color:#ff2222;font-size:2rem;">Yes</a><br />
<a href="{{ url_for('classes') }}" style="font-size:5rem;">No</a>
<script src="{{ config.STATIC }}/js/wordlistnames.js"></script>
{% endblock %}