{% extends "base.html" %}
{% set title="Class "+cl.name %}
{% block head %}
<link rel="stylesheet" href="{{ config.STATIC }}/css/class-info.css">
{% if request.MOBILE %}
<link rel="stylesheet" href="{{ config.STATIC }}/css/mobile/class-info.css">
{% endif %}
{% endblock %}
{% block contents %}
<h1>Class {{ cl.name }}</h1>
<div id="container">
  <div class="item">
    <div>Students:</div>
    <table>
      <tbody>
        <tr>
          <th>Student username</th>
          <th>Student email</th>
        </tr>
        {% for student in cl.students %}
        <tr>
          <td>{{ student.user.username }}</td>
          <td>{{ student.user.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="item">
    <div>Assignments</div>
    <table>
      <tbody>
        <tr>
          <th>Game type</th>
          <th>Game</th>
          <th>Wordlist</th>
        </tr>
        {% for assignment in assignments %}
        <tr>
          <td>{{ assignment[0] }}</td>
          <td>{{ assignment[1] }}</td>
          <td class="wordlistname">{{ assignment[2] }}</td>
          <td><a href="{{ url_for('cancel_assignment', classname=cl.name, assignment_id=loop.index0) }}">Cancel</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% if request.MOBILE %}
<div class="buttoncontainer">
<div class="buttonlinkcontainer"><a class="buttonlink" href="{{ url_for('delete_class', classname=cl.name) }}">Delete class</a></div>
<div class="buttonlinkcontainer"><a class="buttonlink" href="{{ url_for('add_student_to_class', classname=cl.name) }}">Add student</a></div>
<div class="buttonlinkcontainer"><a class="buttonlink" href="{{ url_for('remove_student_from_class', classname=cl.name) }}">Remove student</a></div>
<div class="buttonlinkcontainer"><a class="buttonlink" href="{{ url_for('add_student', classname=cl.name) }}">Create student</a></div>
<div class="buttonlinkcontainer"><a class="buttonlink" href="{{ url_for('set_assignment', classname=cl.name) }}">Set assignment</a></div>
<div class="buttonlinkcontainer"><a class="buttonlink" href="{{ url_for('classes') }}">Go back to classes</a></div>
</div>
{% else %}
<div class="buttoncontainer">
<a class="buttonlink" href="{{ url_for('delete_class', classname=cl.name) }}">Delete class</a>
<a class="buttonlink" href="{{ url_for('add_student_to_class', classname=cl.name) }}">Add student</a>
<a class="buttonlink" href="{{ url_for('remove_student_from_class', classname=cl.name) }}">Remove student</a>
<a class="buttonlink" href="{{ url_for('add_student', classname=cl.name) }}">Create student</a>
<a class="buttonlink" href="{{ url_for('set_assignment', classname=cl.name) }}">Set assignment</a>
<a class="buttonlink" href="{{ url_for('classes') }}">Go back to classes</a>
</div>
{% endif %}
<div><a href="{{ url_for('student_scores', classname=cl.name) }}">Student scores</a></div>
<script src="{{ config.STATIC }}/js/wordlistnames.js"></script>
{% endblock %}