{% extends "base.html" %}
{% set title="Classes" %}
{% block contents %}
<h1>Classes</h1>
<ul>
  {% for class in classes %}
  <li><a href="{{ url_for('class_info', classname=class) }}">{{ class }}</a></li>
  {% endfor %}
</ul>
<a href="{{ url_for('add_class') }}">Add class</a>
{% endblock %}