{% extends "base.html" %}
{% set title="Delete class "+classname+"?" %}
{% block contents %}
<h1>Are you sure you want to <b style="color:#ff2222;">PERMANENTLY DELETE</b> class {{ classname }}?</h1>
<a href="{{ url_for('delete_class_confirmed', classname=classname) }}" style="color:#ff2222">Yes</a><br />
<a href="{{ url_for('classes') }}" style="font-size:20rem;">No</a>
{% endblock %}