{% extends "base.html" %}
{% set title="Remove student" %}
{% block contents %}
<h1>Remove student from class {{ classname }}</h1>
<form method="post">
  <label for="student_id">Students:</label>
  <select name="student_id" id="student_id">
    {% for student in students %}
    <option value="{{ student.id }}">{{ student.user.username }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="submit">
</form>
{% endblock %}