{% extends "game-select.html" %}
{% set title="Set assignment" %}
{% block header %}
<h1>Set assignment for class {{ classname }}</h1>
<h2>Select game</h2>
<a href="{{ url_for('class_info',classname=classname) }}">Go back to class</a>
{% endblock %}
