{% extends "base.html" %}
{% set title="Student scores" %}
{% block contents %}
<h1>Student scores</h1>
<table>
  <tbody>
    <tr>
      <th>Game</th>
      <th>Gametype</th>
      <th>Wordlist</th>
      <th>Score total</th>
      {% for student in students %}
      <th>{{ student }}</th>
      {% endfor %}
    </tr>
    {% for assignment in scores %}
    <tr>
      <td>{{ assignment[0][0] }}</td>
      <td>{{ assignment[0][1] }}</td>
      <td class="wordlistname">{{ assignment[0][2] }}</td>
      <td class="score"></td> {# marked as score, but shall appear as "/x" where x is max score. #}
      {% for score in assignment[1] %}
      <td>{{ score }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('class_info',classname=classname) }}">Back to class {{ classname }}</a>
<script src="{{ config.STATIC }}/js/wordlistnames.js"></script>
{% endblock %}