{% extends "base.html" %}
{% set title="Change password" %}
{% block contents %}
<h1>Change password</h1>
{% if failed %}
<h2>Password change failed. Either you typed your current password wrong, or the passwords do not match.</h2>
{% endif %}
<form method="post">
<label for="current">Current password:</label>
<input id="current" name="current" type="password">
<label for="new">New password:</label>
<input id="new" name="new" type="password">
<label for="confirm">Confirm password:</label>
<input id="confirm" name="confirm" type="password">
<input type="submit" value="Submit">
</form>
{% endblock %}