{% extends "base.html" %}
{% set title="Login" %}
{% block contents %}
<h1>Login</h1>
<h2>This <i>should</i> be secure, but I wouldn't bet on it...</h2>
{% for message in form.login_name.errors %}
  <div>{{ message }}</div>
{% endfor %}
{% for message in form.password.errors %}
  <div>{{ message }}</div>
{% endfor %}
{% for message in get_flashed_messages() %}
  <div>{{ message }}</div>
{% endfor %}
<form method="post">
  {{ form.hidden_tag() }}
  {{ form.login_name.label }}
  {{ form.login_name }}
  {{ form.password.label }}
  {{ form.password }}
  {{ form.submit }}
</form>
<a href="{{ url_for('signup') }}">Teacher sign up</a>
{% endblock %}