{% extends "base.html" %}
{% set title="Account settings" %}
{% block contents %}
<h1>Account settings</h1>
<div>Username: {{ user.username }}</div>
<div>Email: {{ user.email }}</div>
<div><a href="{{ url_for('change_password') }}">Change password</a></div>
{% endblock %}