{% extends "base.html" %}
{% set title="Account settings" %}
{% block contents %}
<h1>Account settings</h1>
<div>Username: {{ user.username }} <a href="{{ url_for('change_username') }}">Change</a></div>
<div>Email: {{ user.email }} <a href="{{ url_for('change_email') }}">Change</a></div>
<div><a href="{{ url_for('change_password') }}">Change password</a></div>
<div><a href="{{ url_for('delete_account') }}">Delete account</a></div>
{% endblock %}