{% extends "base.html" %}
{% set title="Signup" %}
{% block contents %}

{% if bodytitle %}
<h1>{{ bodytitle }}</h1>
{% else %}
<h1>Sign up</h1>
{% endif %}

<h2>Not very sure on the security on this but it should be fine.</h2>
{% for message in form.username.errors %}
  <div>{{ message }}</div>
{% endfor %}
{% for message in form.email.errors %}
  <div>{{ message }}</div>
{% endfor %}
{% for message in form.password.errors %}
  <div>{{ message }}</div>
{% endfor %}
{% for message in get_flashed_messages() %}
  <div>{{ message }}</div>
{% endfor %}
<form method="post">
  {{ form.hidden_tag() }}
  {{ form.username.label }}
  {{ form.username }}
  {{ form.email.label }}
  {{ form.email }}
  {{ form.password.label }}
  {{ form.password }}
  {{ form.confirm.label }}
  {{ form.confirm }}
  
  {{ form.submit }}
</form>
{% if not link %}
<a href="{{ url_for('login') }}">Log in</a>
{% else %}
<a href="{{ link }}">{{ linkname }}</a>
{% endif %}
{% endblock %}