{% extends "base.html" %}
{% set title="Homepage" %}
{% block contents %}
<h1>Languagebolt</h1>
<div><a href="{{ url_for('logout') }}">Logout</a></div>
<div><a href="{{ url_for('classes') }}">Classes</a></div>
{% endblock %}
