{% extends "base.html" %}
{% set title="Homepage" %}
{% block contents %}
<h1>Languagebolt</h1>
<div><a href="{{ url_for('logout') }}">Logout</a></div>
<div><a href="{{ url_for('game_select') }}">Choose game</a></div>
<div><a href="{{ url_for('scores') }}">Scores</a></div>
<div><a href="{{ url_for('assignments') }}">Assignments</a></div>
{% endblock %}
