{% extends "base.html" %}
{% set title="Assignments" %}
{% block contents %}
<table>
  <tbody>
    <tr>
      <th>Game</th>
      <th>Gametype</th>
      <th>Wordlist</th>
      <th>Score</th>
      <th>Play</th>
    </tr>
    {% for assignment in assignments %}
    <tr>
      <td>{{ assignment[0] }}</td>
      <td>{{ assignment[1] }}</td>
      <td class="wordlistname">{{ assignment[2] }}</td>
      <td class="score">{{ assignment[3] }}</td>
      <td><a href="{{ url_for('game', gametype=assignment_ids[loop.index0][0], game=assignment_ids[loop.index0][1], wordlist=assignment_ids[loop.index0][2])|safe }}">Play</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="{{ config.STATIC }}/js/wordlistnames.js"></script>
{% endblock %}