<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title|safe }}</title>
    <link rel="stylesheet" href="{{ config.STATIC }}/css/style.css">
    {% if request.MOBILE %}
    <link rel="stylesheet" href="{{ config.STATIC }}/css/mobile/style.css">
    {% endif %}
    <link rel="icon" href="{{ config.STATIC }}/plain/favicon.ico">
    <script type="text/javascript">var static_root="{{config.STATIC}}";</script>
    {% block head %}{{ head|safe }}{% endblock %}
  </head>
  <body>
    {% if not nonavbar %}
    {% if request.MOBILE %}
    <div id="navbar-mobile">
      <img onclick="showNavbar()" id="navbar-mobile-icon" src="{{ config.STATIC }}/plain/hamburger-menu.svg" alt="hamburger" width="60rem">
      <div class="navbar-mobile-element"><a href="{{ url_for('index') }}">Home</a></div>
      {% if current_user.is_authenticated %}
      <div class="navbar-mobile-element"><a href="{{ url_for('logout') }}">Logout {{ current_user.username }}</a></div>
      <div class="navbar-mobile-element"><a href="{{ url_for('account_settings') }}">Settings</a></div>
      {% else %}
      <div class="navbar-mobile-element"><a href="{{ url_for('login') }}">Login</a></div>
      {% endif %}
    </div>
    {% else %}
    <ul id="navbar">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('logout') }}">Logout {{ current_user.username }}</a></li>
      <li><a href="{{ url_for('account_settings') }}">Settings</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
    </ul>
    {% endif %}
    {% endif %}
    {% block contents %}
    {{ contents|safe }}
    {% endblock %}
    {% if request.MOBILE %}
    <script src="{{ config.STATIC }}/js/mobile.js"></script>
    {% endif %}
  </body>
</html>
