{% extends "base.html" %}
{% set title="Game finished" %}
{% block contents %}
<h1>Game finished!</h1>
<h2>Your score has been recorded.</h2>
<a href="{{ url_for('index') }}">Go back to homepage.</a>
<a href="{{ url_for('assignments') }}">Go back to assignments.</a>
{% endblock %}