{% extends "base.html" %}
{% set title="Game select" %}
{% block contents %}
{% block header %}
<h1>Game select</h1>
<h2>Game selector</h2>
{% endblock %}
{% for message in get_flashed_messages() %}
  <div>{{ message }}</div>
{% endfor %}
<form method="post">
  {{ form.hidden_tag() }}
  {{ form.game_type.label }}
  {{ form.game_type }}
  {{ form.game.label }}
  {{ form.game }}
  {{ form.wordlist.label }}
  {{ form.wordlist }}
  {{ form.submit }}
</form>
<script src="{{ config.STATIC }}/js/game-select.js"></script>
{% endblock %}