{% extends "base.html" %}
{% set nonavbar=1 %}
{% set title="Multiple choice" %}
{% block head %}
<link rel="stylesheet" href="{{ config.STATIC }}/css/multi-choice.css">
{% endblock %}
{% block contents %}
<h1 style="text-align: center;" id="score">Score: 0</h1>
<h1 style="text-align: center;" id="question">Question word</h1>
<div class="optiontablecontainer">
  <button id="start" onclick="go();">Start</button>
  <table id="optiontable">
    <tr>
      <td class="option" id="option-0" onclick="option(0)"></td>
      <td class="option" id="option-1" onclick="option(1)"></td>
    </tr>
    <tr>
      <td class="option" id="option-2" onclick="option(2)"></td>
      <td class="option" id="option-3" onclick="option(3)"></td>
    </tr>
  </table>
</div>
<script src="{{ config.STATIC }}/js/multi-choice.js"></script>
{% endblock %}