{% extends "base.html" %}
{% set title="Scores" %}
{% block head %}
<script>
var scores = [
{% for score in scores %}
  {{ score[0][2] }},
{% endfor %}
];
</script>
{% endblock %}
{% block contents %}
<h1>Scores</h1>
<table>
<tr>
<th>Topic</th>
<th>Game</th>
<th>Game type</th>
<th>Score</th>
</tr>
{% for score in scores %}
<tr class="score">
<td>Getting score</td>
<td>{{ score[0][0] }}</td>
<td>{{ score[0][1] }}</td>
<td>{{ score[1] }}</td>
</tr>
{% endfor %}
</table>
<script src="{{ config.STATIC }}/js/scores.js"></script>
{% endblock %}